header {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background-color:#c52f24;
  color:#fff;
}
*{
  text-decoration: none;
}
footer{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background-color:#c52f24;
  color:#fff;
}

table{
  border-collapse: collapse;
}
table th{
  background-color: #ffdfdf;
}

table td{
  background-color: #f1c8c861;
  text-align: center;
}

table td,table th{
  border: solid 1px black;
  padding:10px 20px;
}

.notice{
  background-color: #98ecaa7a;
  border:2px solid #5cd075;
  padding:15px;
  width:50%;
  text-align: center;
}

.destroy_notice,.error_notice{
  background-color: #ec98ac8f;
  border:2px solid #ec7592;
  padding:15px;
  width:50%;
  text-align: center;
}

